@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  body {
    @apply w-full h-full min-h-screen text-foreground bg-background;
  }

  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #616062 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  *::-webkit-scrollbar-track {
    @apply bg-background;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #616062;
    border-radius: 10px;
    border: 3px none #ffffff;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
    /* -webkit-box-shadow: 0 0 0px 1000px #1b1b6c inset; */
  }
}
